:root {
  /* font */
  --main-font: "Montserrat", sans-serif;

  /* Text Colors */
  --text-black-color: #241919;
  --text-white-color: #c4acac;

  /* Background Color */
  --bg-black-color: #241919;
  --bg-white-color: #c4acac;

  --text-selection-color: #fafafa;
  --bg-selection-color: #6b5353;

  --transition-time: 350ms;
}

*,
body {
  font-family: var(--main-font);
  position: relative;

  color: var(--text-white-color);
  background: var(--bg-black-color);

  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  color: var(--text-selection-color);
  background-color: var(--bg-selection-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

