:root {
  --main-font: "Montserrat", sans-serif;

  --text-selection-color: #fafafa;
  --bg-selection-color: #240202;

  --transition-time: 200ms;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body,
input,
th,
td {
  font-family: var(--main-font);
  position: relative;

  color: white;

  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;

  background: url("/public/juggernaut-dota.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: #314948;
}

button:hover {
  background-color: #698f8e !important;
}

html {
  scroll-behavior: smooth;
  font-size: 2vh;
  overflow-x: auto;
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  background-color: #698f8e;
}
html::-webkit-scrollbar-thumb {
  background: #b23d3e;
}

::selection {
  color: var(--text-selection-color);
  background-color: var(--bg-selection-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

.hcn-container {
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.25rem;
}

@media (max-width: 950px) {
  .title {
    font-size: 1.4rem;
  }
}

css .scale-enter-active,
.scale-leave-active {
  transition: all 0.5s ease;
}

.scale-enter-from,
.scale-leave-to {
  opacity: 0;
  transform: scale(0.9);
}

.mt-2 {
  margin-top: 2rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}
