:root {
  --main-font: "Montserrat", sans-serif;

  --text-selection-color: #fafafa;
  --bg-selection-color: #240202;

  --transition-time: 350ms;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
body {
  font-family: var(--main-font);
  position: relative;

  color: white;

  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;

  background: url("/public/juggernaut-dota.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: #314948;
}

html {
  scroll-behavior: smooth;
  font-size: 2vh;
  overflow-x: auto;
}

html::-webkit-scrollbar {
  background-color: #698f8e;
}
html::-webkit-scrollbar-thumb {
  background: #b23d3e;
}

::selection {
  color: var(--text-selection-color);
  background-color: var(--bg-selection-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

#app {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
}

